* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Shared Style */

body {
  font-family: "Lato", sans-serif;
}

.section__title {
  color: #272727;
  font-size: 40px;
  font-family: Lato;
  font-weight: 800;
}

.section__description {
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}

.btn__primary {
  border: none;
  background: #e55473;
  padding: 20px 40px;
  border-radius: 8px;
  color: white;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
}

/* Header Style */
header {
  background-color: rgba(229, 84, 115, 0.1);
  height: 100vh;
  /* padding: 0px 240px; */
}
.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1440px;
  margin: 0 auto;
}
.header__title {
  color: #272727;
  font-size: 80px;
  font-weight: 800;
}

header .section__description {
  margin: 32px 0px;
  max-width: 634px;
}

/* .header__img {
  width: 100%;
} */

.header__img img {
  display: block;
  /* width: 635px; */
  height: 100vh;
}

/* Featured Flower*/

.featured {
  margin-top: 178px;
  text-align: center;
}

.featured .section__description {
  margin-bottom: 48px;
  margin-top: 24px;
  max-width: 594px;
  margin-right: auto;
  margin-left: auto;
}

/* Flowers */
.flowers {
  display: flex;
  justify-content: space-between;
  /* padding: 0px 240px; */
}

.flower__box {
  background: rgba(167, 33, 98, 0.15);
  border-top-left-radius: 300px;
  border-top-right-radius: 300px;
  height: 538px;
  padding: 0px 75px;
  display: flex;
  align-items: flex-end;
}

.box-2 {
  background: rgba(5, 150.7, 160, 0.15);
  padding-top: 20px;
  padding-bottom: 60px;
}

.box-3 {
  background: rgba(71, 125, 17, 0.15);
}

.flower__box img {
  max-width: 300px;
}

.flower__name {
  color: #272727;
  font-size: 24px;
  font-weight: 700;
  text-decoration: underline;
  margin-top: 32px;
}

/* solid banner */

.feature-banner {
  background: rgba(39, 39, 39, 0.05);
  padding: 88px 175px;
  margin: 140px auto;
  border-radius: 8px;
  display: flex;
  justify-content: space-evenly;
}

.feature__item img {
  width: 88px;
  margin-bottom: 24px;
}

.feature__item p {
  color: rgba(39, 39, 39, 0.8);
  font-size: 24px;
  font-weight: 600;
}

/* Discount Banner */
.discount {
  background: rgba(229, 84, 115, 0.05);
  max-width: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 100px 240px;
}
.discount__content {
  text-align: center;
}
.discount__content .section__title span {
  color: #e55473;
}

.discount__content .section__description {
  margin-top: 24px;
  margin-bottom: 32px;
  color: #272727;
  max-width: 594px;
}

/* Instagram */
.instagram {
  margin-top: 128px;
  margin-bottom: 128px;
  text-align: center;
}

.instagram .section__description {
  max-width: 594px;
  margin: 24px auto 48px auto;
}

.gallery {
  display: flex;
  gap: 24px;
}

/* Subscribe */

.subscribe {
  margin-bottom: 128px;
  text-align: center;
  background: url("../images/Rectangle 9.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 8px;
  padding: 120px 190px;
}

.subscribe .section__description {
  margin-bottom: 48px;
}

.input {
  width: 100%;
}
input[type="email"] {
  padding: 22px;
  color: rgba(39, 39, 39, 0.6);
  font-size: 16px;
  font-weight: 400;
  background: white;
  border-radius: 10px;
  border: none;
  outline: none;
  margin-right: 10px;
  display: inline-block;
  max-width: 100%;
  width: 700px;
}

/* Footer  */

.footer {
  text-align: center;
  background: #272727;
  padding: 128px 0px;
}
.footer h2 {
  color: #e55473;
  font-size: 48px;
  font-weight: 800;
  margin-bottom: 24px;
}

.footer h2 span {
  color: white;
}

.footer .section__description {
  color: white;
  max-width: 625px;
  margin: 0px auto 32px auto;
}

.copy-right {
  color: rgba(255, 255, 255, 0.4);
  font-size: 16px;
  font-weight: 400;
}

/* ============== */
section {
  max-width: 1440px;
  margin: 0 auto;
}
